# Compiled
*.elc
eln-cache

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree
session*
ac-comphist.dat
url/cache
.#

# Emacs package dirs
elpa/
straight/
eshell/
auto-save-list/
transient/
eln-cache/
